
@model List<dotNETCoreWebAppMVC.Entities.Category>
@{
    ViewData["Title"] = "Category Page";
    //var categories = ViewData["categories"];
    //var categories = ViewBag.Categories;
}

<div class="row justify-content-center">
    <div class="col-6">
        <h1>Categories List</h1>
        <h2>@ViewData["test"]</h2>
        <a asp-controller="Category" asp-action="Create">Create New Category</a>
        <table class="table">
            <thead>
                <td>ID</td>
                <td>Name</td>
                <td>Products Count</td>
                <td>Action</td>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Products.Count</td>
                        <td>        
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                            |
                            <a href="@Url.ActionLink("Delete", "Category", new {id = item.Id})" onclick="return confirm('Delete item #@item.Id ?')">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


